
//Tamanho de fontes

$fontSize1: 0.625rem;
$fontSize2: 0.875rem;
$fontSize3: 1rem;
$fontSize4: 1.125rem;
$fontSize5: 1.25rem;
$fontSize6: 1.563rem;
$fontSize7: 1.75rem;
$fontSize7: 1.875rem;
$fontSize8: 2rem;

//Cores neutras
$neutral-200: #D9D9D9;



//Cores mais usadas
$pure-black: #000;
$pure-white: #fff;


//Cores padrão do projeto
$color-200: #D2571E5E;
$color-400: #D9D9D94F;

$font-weight1: 200;
$font-weight2: 300;
$font-weight3: 400;
$font-weight4: 500;
$font-weight5: 600;

$gap0-5:0.5rem;
$gap1:1rem;
$gap1-5:1.5rem;
$gap2:2rem;
$gap3:3rem;
$gap4:4rem;
$gap5:5rem;
$gap6:6rem;
$gap7:7rem;
